@brown: #3b3342;
@light_gray: rgb(220, 220, 220); //цвет подложки
@light_orange: #eb7069;
@dark_orange: #ee372d;
@light_green: #ace2d9;
@white: #fff;
@fontRoboto: "Roboto", sans-serif;
@fontOutfit: "Outfit", sans-serif;
